<html>
<body>
<pre>
Hello VM.

## 你看不到我

#*
这里都看不到
*#

value1:$!{value1}
$!{value2}
${value3}
#！加了！不存在就不显示了
#foreach ($color in $colors)
Color $!{foreach.index}/$!{foreach.count}: $!{color}
#end

#foreach($key in $map.keySet())
Number $!{foreach.index}/$!{foreach.count}: $!{key} $map.get($key)
#end

#foreach($kv in $map.entrySet())
Number $!{foreach.index}/$!{foreach.count}: $!{kv.key} $!{kv.value}
#end


User:$!{user.name}
User:$!{user.getName()}

#set($title = "nowcoder")
#直接包含起来
Include:  #include("header.vm") <br>
Parse:#parse("header.vm")
#写个函数
#macro (render_color, $color, $index)
Color By Macro $index, $color
#end

#foreach ($color in $colors)
    #render_color($color, $foreach.index)
#end

#set($hello = "hello")
#set($hworld1 = "$!{hello} world")
#set($hworld2 = '$!{hello} world')
#双引号才会模板解析
#单引号不解析直接显示
hworld1:$hworld1
hworld2:$hworld2

$!{colors.size()}

</pre>
</body>
</html>